<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=johngalhl7;AccountKey=PGOHWkmqq+0iU34u+fXfb2tKw6zhYyrEr0m2V/XmVW7QWCVFIfCY77ul6yBocS/bl0KqT1K+JraH+ASt9mkdYA==;EndpointSuffix=core.windows.net" />
    <add key="QueueName" value="hl7messages" />
    <add key="MpiAckTcpAddress" value="52.176.165.69" />
    <add key="MpiAckTcpPort" value="80" />

    
  </appSettings>
</configuration>
