<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString-va" value="DefaultEndpointsProtocol=https;AccountName=vancrstr01;AccountKey=gq4zrNDsWVnIkdJ/KyI5GMYPG092mcjtxw3Hax4RvaXp5Gre56MoawTQ+ayWa1ggVc16Zg97xUVF+AStw4GaNw==;EndpointSuffix=core.usgovcloudapi.net" />
    
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=johngalhl7;AccountKey=PGOHWkmqq+0iU34u+fXfb2tKw6zhYyrEr0m2V/XmVW7QWCVFIfCY77ul6yBocS/bl0KqT1K+JraH+ASt9mkdYA==;EndpointSuffix=core.windows.net" />
    <add key="QueueName" value="hl7messages" />
    <add key="MpiAckTcpAddress" value="127.0.0.1" />
    <add key="MpiAckTcpPort" value="500" />

    
      <add key="MpiAckTcpAddress43" value="52.176.165.69" />
    <add key="MpiAckTcpPort34" value="80" />
    
  </appSettings>
</configuration>
